a {
    color: saddlebrown;
    text-decoration: none;
}

    a:hover {
        color: red;
    }


body {
    direction: rtl;
    width: 1280px;
    margin: 0 auto;
    background-image: url(../pics/background.jpg);
    background-size: cover;
}
.navList {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}

.notActive {
    cursor: not-allowed;
    color: grey;
}

#mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

#mainNav li {
    display: inline-block;
}



#mainNav ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 10px;
}



#mainNav .innerUl {
    display: none;
    position: absolute;
}

#mainNav ul li:hover .innerUl {
    display: block;
    width: 150px;
}




footer ul {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

footer li {
    display: inline-block;
}


footer ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 17px;
    margin: 0px 22px 0px 22px;
}




#mainNav a:hover {
    background-color: bisque;
    color: black;
}

#mainNav a:active {
    background-color: #a13245;
}
footer a:hover {
    background-color: bisque;
    color: black;
}

footer a:active {
    background-color: #a13245;
}





#footerList {
    width: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}




header {
    font-size: 25px;
    color: brown;
    direction: rtl;
    padding: 10px;
    font-family: 'Guttman Drogolin';
    padding-top: 20px;
}





.circle1, .circle2{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid #a13245;
    border-radius: 50%;
    padding: 30px  ;
    width: 150px;
    height: 150px;
    font-size: 20px;
    justify-content: center;
    margin: 25px;
}

.circle1 {
    display: inline-block;
    background-image: url('../pics/sapir.jpeg');
    background-size: 220px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.circle2 {
    display: inline-block;
    background-image: url(../pics/daniel.jpeg);
    /*background-size: 114px;*/
    /*background-position-x: right;*/
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: 0%;
}
}

.breadCrumbs {
    right: 0;
    margin-top: 51px;
    /* margin-right: 98px; */
    z-index: 3;
    position: absolute;
}




    .breadCrumbs ol li {
        display: inline-block;
    }

        .breadCrumbs ol li a {
            text-decoration: none;
        }

        .breadCrumbs ol li:after {
            content: ">";
        }

        .breadCrumbs ol li:last-child:after {
            content: "";
        }




h1 {
    margin-top: 40px;
    right: 0;
    font-family: 'Guttman Drogolin';
    font-size: 50px;
    color: #a13245;
    text-align: center;
}

.picture {
    margin-right: 26%;
}

.picture  p  {
    margin-top: 215px;
}


.firstPara,
.ourProject p{
    /*text-align: center;*/
    text-align: justify;
    margin-top: 15px;
    font-size: 20px;
}

.ourProject{
    margin-top:90px;
}

.links a{
    margin:20px;
    color:black;
}

img{
    height:130px;
    width:220px;
}