body {
    direction: rtl;
    width: 1280px;
    /*width: 1667px;*/
    margin: 0 auto;
    background-image: url(../pics/background.jpg);
    background-size: cover;
}
.navList {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    /*z-index: 7;*/
    z-index: 2;
}

.notActive {
    cursor: not-allowed;
    color: grey;
}

#mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

#mainNav li {
    display: inline-block;
}
/*
    #mainNav li a{
        display: inline-block;
    }*/


#mainNav ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 10px;
}

#mainNav a:hover {
    background-color: lightskyblue;
}

#mainNav a:active {
    background-color: red;
}

#mainNav .innerUl {
    display: none;
    position: absolute;
}

#mainNav ul li:hover .innerUl {
    display: block;
    width: 150px;
}

#books {
    margin-top: 70px;
}
.picBook1 {
    background-image: url(../pics/books/genesis.png);
    background-size: 150px;
    background-repeat: no-repeat;
    width: 150px;
    height: 190px;
    background-position-x: right;
    margin-right: 40px;
}



/*.tooltipGene {
    display:none;
    width: 190px;
    height: 395px;
    background-color: white;
    color: black;
    text-align: center;
    border: solid black 2px;
    border-radius: 6px;
    padding: 5px 0;*/
    /*display: block;*/
    /*position: absolute;
    top: 250px;
    right: 135px;
    font-size: 25px;
}


.picBook1:hover .tooltipGene {*/
    /*visibility: visible;*/
    /*display: block;
}*/



.picBook2 {
    background-image: url(../pics/books/shemot.png);
    background-size: 150px;
    background-repeat: no-repeat;
    width: 150px;
    height: 190px;
    background-position-x: right;
    margin-right: 50px;
}


/*.tooltipExodus {
    display: none;
    width: 190px;
    height: 528px;
    background-color: white;
    color: black;
    text-align: center;
    border: solid black 2px;
    border-radius: 6px;
    padding: 5px 10px;*/
    /*display: block;*/
    /*position: absolute;
    top: 250px;
    right: 335px;
    font-size: 25px;
}

.picBook2:hover .tooltipExodus {*/
    /*visibility: visible;*/
    /*display: block;
}*/





.picBook3 {
    background-image: url(../pics/books/vaikra.png);
    background-size: 150px;
    background-repeat: no-repeat;
    width: 150px;
    height: 190px;
    background-position-x: right;
    margin-right: 45px;
}

/*.tooltipLevit {
    display: none;
    width: 190px;
    height: 495px;
    background-color: white;
    color: black;
    text-align: center;
    border: solid black 2px;
    border-radius: 6px;
    padding: 5px 10px;*/
    /*display: block;*/
    /*position: absolute;
    top: 250px;
    right: 557px;
    font-size: 25px;
}

.picBook3:hover .tooltipLevit {*/
    /*visibility: visible;*/
    /*display: block;
}*/




.picBook4 {
    background-image: url(../pics/books/midbar.png);
    background-size: 150px;
    background-repeat: no-repeat;
    width: 150px;
    height: 190px;
    background-position-x: right;
    margin-right: 45px;
}


/*.tooltipNums {
    display: none;
    width: 190px;
    height: 490px;
    background-color: white;
    color: black;
    text-align: center;
    border: solid black 2px;
    border-radius: 6px;
    padding: 5px 10px;*/
    /*display: block;*/
    /*position: absolute;
    top: 250px;
    left: 278px;
    font-size: 25px;
}

.picBook4:hover .tooltipNums {*/
    /*visibility: visible;*/
    /*display: block;
}*/



.picBook5 {
    background-image: url(../pics/books/dvarim.png);
    background-size: 150px;
    background-repeat: no-repeat;
    width: 150px;
    height: 190px;
    background-position-x: right;
    margin-right: 50px;
}

/*.tooltipDeutero {
    display: none;
    width: 190px;
    height: 560px;
    background-color: white;
    color: black;
    text-align: center;
    border: solid black 2px;
    border-radius: 6px;
    padding: 5px 10px;*/
    /*display: block;*/
    /*position: absolute;
    top: 250px;
    left: 45px;
    font-size: 25px;
}*/

/*.picBook5:hover .tooltipDeutero {*/
    /*visibility: visible;*/
    /*display: block;
}*/




.navBooks a {
    font-family: 'Guttman Drogolin';
    text-decoration: none;
    font-size: 50px;
    color: black;
    text-align: center;
}

.navBooks {
    position: relative;
    margin-top: 30px;
    text-align: center;
}


    .navBooks ul li {
        display: inline-block;
        width: 220px;
        /*height: 300px;*/
    }




#books h1 {
    font-family: 'Guttman Drogolin';
    font-size: 70px;
    color: #a13245;
    text-align: center;
    margin-top: 30px;
}

.Pitgam {
    text-align: center;
    font-family: 'Guttman Drogolin';
    font-size: 30px;
    color: black;
    margin-top: 20px;
}

/*--------------------------------------------------------------K*/

div .findOutMore {
    /* font-family: 'Guttman Drogolin'; */
    font-size: 23px;
    color: black;
    text-align: center;
    /*top: 51px;*/
    margin-top: 55px;
}








section .didYouKnow {
    height: 52px;
    width: 550px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    color: brown;
    padding-top: 26px;
    margin: auto;
}

/*
.didYouKnow p {
    display: none;
}*/


.navBooks p {
    display: none;
    max-height: 600px;
    position: absolute;
}

.picBook1:hover + .Gene,
.picBook2:hover + .Exodus,
.picBook3:hover + .Levit,
.picBook4:hover + .Nums,
.picBook5:hover + .Deutero {
    display: block;
}

.Gene {
    /*margin-right: 270px;*/
    right: 340px;
    background: cornsilk;
    border: 13px;
    height: 126px;
    width: 606px;
    font-size: 17px;
    padding: 15px;
}


.Exodus {
    /*margin-right: 45px;*/
    right: 340px;
    background: cornsilk;
    border: 13px;
    height: 126px;
    width: 606px;
    font-size: 17px;
    padding: 15px;
}

.Levit {
    background: cornsilk;
    border: 13px;
    height: 126px;
    width: 606px;
    font-size: 17px;
    left: 304px;
    padding: 15px;
}


.Nums {
    background: cornsilk;
    border: 13px;
    height: 129px;
    width: 606px;
    font-size: 17px;
    left: 304px;
    padding: 15px;
}

.Deutero {
    background: cornsilk;
    border: 13px;
    height: 129px;
    width: 606px;
    font-size: 17px;
    left: 304px;
    padding: 15px;
}
.haidata {
    font-size: 25px;
    font-family: 'Guttman Drogolin';
    color: #a13245;
}
/*----------- לעשות מחדש*/
.importantPeople {
    /*    height: 1000px;
    height: 1000px;
    border-top: 2px solid black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
    /*top:100px;*/
}


    .importantPeople h1 {
        font-size: 30px;
        height: 50px;
        width: 100%;
        /* background-color: papayawhip; */
        text-align: center;
        padding-top: 15px;
        /* margin-bottom: 20px; */
        /* color: #a13245; */
        color: black;
    }

.circle1, .circle2, .circle3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #a13245;
    border-radius: 23%;
    padding: 10px;
    width: 250px;
    height: 250px;
    font-size: 20px;
    justify-content: center;
    margin: 25px;
}

.rambam, .gvirol, .nahman {
    font-size: 19px;
    margin-top: 10px;
}

.picBook1:hover  .importantPeople {
    margin-top: 250px;
}


footer ul {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

footer li {
    display: inline-block;
}


footer ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 17px;
    margin: 0px 22px 0px 22px;
}


footer a:active {
    background-color: red;
}

#footerList {
    width: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}
