body {
    direction: rtl;
    width: 1280px;
    margin: 0 auto;
    background-image: url(../pics/background.jpg);
    background-size: cover;
}

.notActive {
    cursor: not-allowed;
    color: grey;
}

.navList {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    /*z-index: 7;*/
    z-index: 2;
}

#mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

#mainNav li {
    display: inline-block;
}


#mainNav ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 10px;
}

#mainNav .innerUl {
    display: none;
    position: absolute;
}

#mainNav ul li:hover .innerUl {
    display: block;
    width: 150px;
}


h1 {
    margin-top: 81px;
    font-family: 'Guttman Drogolin';
    font-size: 50px;
    color: #a13245;
    text-align: center;
}

main {
    margin-top: 130px;
}



.fill {
    background-color: antiquewhite;
}

footer ul {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

footer li {
    display: inline-block;
}


footer ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 17px;
    margin: 0px 22px 0px 22px;
}


#mainNav a:hover {
    background-color: bisque;
    color: black;
}

#mainNav a:active {
    background-color: #a13245;
}

footer a:hover {
    background-color: bisque;
    color: black;
}

footer a:active {
    background-color: #a13245;
}

#footerList {
    width: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    margin-bottom: 0px;
}



.breadCrumbs {
   
    right: 0;
    top: 34px;
    /* margin-bottom: 69px; */
    margin-right: 98px;
    /* z-index: 3; */
    position: absolute;
}




.breadCrumbs ol li {
    display: inline-block;
}

        .breadCrumbs ol li a {
            text-decoration: none;
        }

        .breadCrumbs ol li:after {
            content: ">";
        }

        .breadCrumbs ol li:last-child:after {
            content: "";
        }




.dropdown1 {
    margin-right: 250px;
    position: absolute;
    font-size: 20px;
}

.dropdown2 {
    margin-right: 450px;
    position: absolute;
    font-size: 20px;
}

.dropdown3 {
    margin-right: 621px;
    position: absolute;
    font-size: 20px;

}

.dropdown4 {
    margin-right: 850px;
    position: absolute;
    font-size: 20px;
}