body {
   direction: rtl;
    width: 1280px;
    margin: 0 auto;
    background-image: url(../pics/background.jpg);
    background-size: cover;
}

.notActive {
    cursor: not-allowed;
    color: grey;
}

.navList {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}

#mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

#mainNav li {
    display: inline-block;
}


#mainNav ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 10px;
}

#mainNav .innerUl {
    display: none;
    position: absolute;
}

#mainNav ul li:hover .innerUl {
    display: block;
    width: 150px;
}




header {
    font-size: 20px;
    color: brown;
    padding: 10px;
    text-align: center;
}


div {
    margin: 5px;
    padding: 10px 10px 50px 700px;
    direction: rtl;
    color:brown;
}

.fill {
    background-color: papayawhip;
    color:black;
}


.form {
    position: fixed;
    width: 100%;
    margin-right: 379px;

}


div form  {
    margin-right: 360px;
    direction: rtl;
    margin-top: 30px;
    color: brown;
}
#sendFrom {
    color: brown;
    background-color: peru;
}

    #sendFrom:hover {
        background-color: bisque;
        color: black;
    }

    #sendFrom :active {
        color: white;
        background-color: #a13245;
       
    }


footer ul {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    background-color: saddlebrown;
    text-align: center;
}

footer li {
    display: inline-block;
}


footer ul li a {
    display: block;
    color: papayawhip;
    text-decoration: none;
    text-align: center;
    width: 150px;
    height: 34px;
    padding-top: 17px;
    margin: 0px 22px 0px 22px;
}


#mainNav a:hover {
    background-color: bisque;
    color: black;
}

#mainNav a:active {
    background-color: #a13245;
}

footer a:hover {
    background-color: bisque;
    color: black;
}

footer a:active {
    background-color: #a13245;
}

#footerList {
    width: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    margin-bottom: 0px;
}

fieldset {
    border: 0;
    padding-top: 20px;
    width: 205px;
}


header {
    font-size: 20px;
    color: brown;
    padding: 10px;
}

h1 {
    margin-top: 81px;
    right: 0;
    font-family: 'Guttman Drogolin';
    font-size: 50px;
    color: #a13245;
    text-align: center;
}




.breadCrumbs {
    right: 0;
    margin-top: 20px;
    z-index: 3;
    position: absolute;
    font-size:16px;
    font-family:Arial;
}




    .breadCrumbs ol li {
        display: inline-block;
        color: black;
        font-size:16px;
    }

        .breadCrumbs ol li a {
            text-decoration: none;
        }

        .breadCrumbs ol li:after {
            content: ">";
        }

        .breadCrumbs ol li:last-child:after {
            content: "";
        }

